{% extends "base.html" %}

{% block quadrant_buttons %}
<div id="quadrant-buttons">
    <!-- Upper-left 'Home' button -->
    <button id="button-top-left" class="quadrant-button" data-url="{{ url_for('index') }}">Home</button>
    <!-- Bottom-left 'Rate' button -->
    <button id="button-bottom-left" class="quadrant-button" data-action="rate">Rate</button>
    <!-- Bottom-right 'Pause' button -->
    <button id="button-bottom-right" class="quadrant-button" data-action="pause">Pause</button>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ song.name }}</h1>
    <img src="{{ url_for('static', filename=song['image_url']) }}" alt="Album Cover" style="width:300px;height:300px;">
    <audio id="audio-player" src="{{ url_for('static', filename=song['file_path']) }}" autoplay></audio>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    const audioPlayer = document.getElementById('audio-player');

    const buttons = {
        'top-left': document.getElementById('button-top-left'),
        'bottom-left': document.getElementById('button-bottom-left'),
        'bottom-right': document.getElementById('button-bottom-right'),
    };

    // Set up button click handlers
    setupButtonClickHandlers();

    function setupButtonClickHandlers() {
        Object.values(buttons).forEach(button => {
            const url = button.getAttribute('data-url');
            const action = button.getAttribute('data-action');
            button.addEventListener('click', () => {
                if (url) {
                    window.location.href = url;
                } else if (action) {
                    if (action === 'rate') {
                        window.location.href = "{{ url_for('rate_song_view') }}";
                    } else if (action === 'pause') {
                        if (audioPlayer.paused) {
                            audioPlayer.play();
                            button.textContent = 'Pause';
                        } else {
                            audioPlayer.pause();
                            button.textContent = 'Play';
                        }
                    }
                }
            });
        });
    }
});
</script>
{% endblock %}
